#list{
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

div ul li{
    z-index:2;
    font-family: 'Ubuntu', sans-serif;
    padding:2px;
}
#left{
    position:absolute;
    float:left;
    left: 650px;
    top: 900px;
    width: 2255px;
}
#right{
    position:absolute;
    float: right;
    width: 255px;
    top: 900px;
    right: 650px;
}
.checked{
    text-decoration: line-through;
}
#bottomBorder{
 background-color:gray;
 color: gray;
 display: block;
 margin-left: auto;
 margin-right: auto;
 width:50%;
 height:5px;
 margin-top: 15px;
}
.bottom img{
    position: absolute;
    float:left;
}
#share{
    position: relative;
    float: right;
    color:white;
    width: 150px;
    background-color:rgb(179, 45, 0);
    height:35px;
    width:115px;
    text-align: center;
    font-size: 13px;
    right:450px;
    padding: 8px;
    font-family: 'Roboto Condensed', sans-serif;
}
footer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
footer{
    text-align: center;
    color: gray;
}
h3{
    font-weight:bold;
    position: relative;
    left: 100px;
}
bottom{
    position: relative;
    left:300px;
}

section{
    float: right;
    position: relative;
}

nav>p{
    position: relative;
    font-size: 40px;
    font-family: 'Pacifico', cursive;
}

h1{
    font-size: 50px;
}

#tinyPrint{
    position: relative;
}